<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamir.mendcurse"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name=".AppData"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        
        <activity
            android:name="com.teamir.mendcurse.Welcome"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:screenOrientation="landscape"
            android:name="com.teamir.mendcurse.MainActivity"
            android:label="@string/app_name" >            
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name="com.teamir.mendcurse.SearchElement"
            android:label="@string/app_name" >            
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name="com.teamir.mendcurse.Table"
            android:label="@string/app_name" >            
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:theme="@style/android:style/Theme.Dialog"
            android:name="com.teamir.mendcurse.ItemView" />      
            
         <activity
            android:screenOrientation="landscape"
            android:name="com.teamir.mendcurse.Game"
            android:label="@string/app_name" >            
        </activity>
         <activity
            android:screenOrientation="landscape"
            android:name="com.teamir.mendcurse.GameResult"
            android:label="@string/app_name" >            
        </activity>

    </application>

</manifest>
